{% extends 'base.html' %}

{% block header %}
<div class="header_title_d01">{{ network.name }}</div>
<div>
    <a href="#"><div class="header_title_d04_click">개요</div></a>
    <a href="#"><div class="header_title_d05">서브넷</div></a>
    <a href="#"><div class="header_title_d05">포트</div></a>
    <a href="#"><div class="header_title_d05">DHCP 에이전트</div></a>
</div>
{% endblock header %}

{% block content %}
    <div>
        <table border="1">
            <tr>
                <th>이름</th><td>{{ network.name }}</td>
            </tr>
            <tr>
                <th>ID</th><td>{{ network.id}}</td>
            </tr>
            <tr>
                <th>프로젝트 ID</th><td>{{ network.project_id }}</td>
            </tr>
            <tr>
                <th>Status</th><td>{{ network.status }}</td>
            </tr>
            <tr>
                <th>관리자 상태</th><td>{{ network.admin_state_up }}</td>
            </tr>
            <tr>
                <th>공유</th><td>{{ network.shared }}</td>
            </tr>
            <tr>
                <th>외부 네트워크</th><td>{{ network.router.external }}</td>
            </tr>
            <tr>
                <th>MTU</th><td>{{ network.mtu }}</td>
            </tr>
            <tr>
                <th>공급자 네트워크</th>
                <td>
                    네트워크 타입 {{ network.provider.network_type }}<br/>
                    물리적인 네트워크 {{ network.provider.physical_network }}<br/>
                    구분 ID: {{ network.provider.segmentation_id }}
                </td>
            </tr>
        </table>
    </div>
{% endblock content %}