{% extends 'base.html' %}

{% block header %}
<div class="header_title_d01">라우터</div>
{% endblock header %}

{% block sub_left_menu %}
{% include "admin/left_menu.html" %}
{% endblock sub_left_menu %}

{% block content %}
<div id="routerList">
    <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
    </table>
</div>
<script>
var routerList = [];
function getRouterAjax(routerList, csrf_token){
    $.ajax({
        type:"POST",
        url : '',
        data : { routerList : routerList, csrfmiddlewaretoken : csrf_token },
        success:function(data){
            routerList = data.data;
        }
    });
}


[
  {
    "external_gateway_info": "{\"network_id\": \"ddca52a0-ea46-47ea-836f-e955bf70dd73\", \"enable_snat\": true, \"external_fixed_ips\": [{\"subnet_id\": \"8764c66c-4fa8-4b4e-82c8-ec0a76d31449\", \"ip_address\": \"172.24.4.8\"}, {\"subnet_id\": \"74c11a40-8e73-4f1b-a5b8-2b2992816292\", \"ip_address\": \"2001:db8::6\"}]}",
    "ha": false,
    "distributed": false,
    "id": "7ea83d80-f0bd-4636-8039-f9ae09fbd98f",
    "name": "router1"
  }
]

$(function(){
    var dataTable = new DataTable({
        "selector" : "#subnet",
        "columns" : {
            "name" : "이름:link",
            "external_gateway_info" : "CIDR",
            "ha" : "IP 버전",
            "distributed" : "게이트웨이 IP",
            "id" : "사용된 IP",
        },
        "data" : [
            {% for network in networkList %}
                "name" : "{{ routerList.name }}",
                "external_gateway_info" : "{{ routerList.external_gateway_info }}",
                "ha" : "{{ routerList.ha }}",
                "distributed" : "{{ routerList.distributed }}",
                "id" : "{{ routerList.id }}",
            {% endfor %}
        ]
    });
    dataTable.showDataTable();
    dataTable.setLink("networks/subnets");
});
</script>
{% endblock content %}