{% extends 'base.html' %}

{% block header %}
<div class="header_title_d01">라우터</div>
{% endblock header %}

{% block sub_left_menu %}
{% include "admin/left_menu.html" %}
{% endblock sub_left_menu %}

{% block content %}
<div id="routerList">
    <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
    </table>
</div>
{% load staticfiles %}
<script src='{% static "js/custom/admin/networks/detail.js" %}'></script>
<script>
$(function(){
    getRouterAjax({% autoescape off %}{{ routerList }}{% endautoescape %}, "{{ csrf_token }}");
});
</script>
{% endblock content %}