{% extends 'base.html' %}

{% block header %}
<div class="header_title_d01">{{ instance.name }}</div>
{% endblock header %}

{% block content %}
    <div>
        <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
            <tr>
                <th class="ind_th01">이름</th><td class="ind_td01">{{ instance.name }}</td>
            </tr>
            <tr>
                <th class="ind_th01">ID</th><td class="ind_td01">{{ instance.id}}</td>
            </tr>
            <tr>
                <th class="ind_th01">Status</th><td class="ind_td01">{{ instance.status }}</td>
            </tr>
            <tr>
                <th class="ind_th01">os_ext_az:가용 구역</th><td class="ind_td01">{{ instance.os_ext_az.availability_zone }}</td>
            </tr>
            <tr>
                <th class="ind_th01">생성됨</th><td class="ind_td01">{{ instance.created }}</td>
            </tr>
            <tr>
                <th class="ind_th01">updated</th><td class="ind_td01">{{ instance.updated }}</td>
            </tr>
            <tr>
                <th class="ind_th01">os_ext_srv_attr</th>
                <td class="ind_td01">
                    ramdisk_id:{{ instance.os_ext_srv_attr.ramdisk_id }}<br/>
                    kernel_id:{{ instance.os_ext_srv_attr.kernel_id }}<br/>
                    hostname:{{ instance.os_ext_srv_attr.hostname }}<br/>
                    launch_index:{{ instance.os_ext_srv_attr.launch_index }}<br/>
                    user_data:{{ instance.os_ext_srv_attr.user_data }}<br/>
                    instance_name:{{ instance.os_ext_srv_attr.instance_name }}<br/>
                    호스트:{{ instance.os_ext_srv_attr.host }}<br/>
                    root_device_name:{{ instance.os_ext_srv_attr.root_device_name }}<br/>
                    hypervisor_hostnam:{{ instance.os_ext_srv_attr.hypervisor_hostnam }}<br/>
                    reservation_id:{{ instance.os_ext_srv_attr.reservation_id }}
                </td>
            </tr>
            <tr>
                <th class="ind_th01">os_ext_sts</th>
                <td class="ind_td01">
                    Status:{{ instance.os_ext_sts.vm_state }}<br/>
                    task_state:{{ instance.os_ext_sts.task_state }}<br/>
                    power_state:{{ instance.os_ext_sts.power_state }}
                </td>
            </tr>
            <tr>
                <th class="ind_th01">flavor 이름</th><td class="ind_td01">{{ instance.flavor }}</td>
            </tr>
            <tr>
                <th class="ind_th01">이미지</th><td class="ind_td01">{{ instance.image}}</td>
            </tr>
            <tr>
                <th class="ind_th01">키 이름</th><td class="ind_td01">{{ instance.key_name}}</td>
            </tr>
            <tr>
                <th class="ind_th01">locked</th><td class="ind_td01">{{ instance.locked}}</td>
            </tr>
            <tr>
                <th class="ind_th01">metadata</th><td class="ind_td01">{{ instance.metadata}}</td>
            </tr>
            <tr>
                <th class="ind_th01">볼륨:연결된 곳</th><td class="ind_td01">{{ instance.os_extended_volumes.volumes_attached}}</td>
            </tr>
            <tr>
                <th class="ind_th01">os_extended_volume</th><td class="ind_td01">{{ instance.os_extended_volume }}</td>
            </tr>
            <tr>
                <th class="ind_th01">progress</th><td class="ind_td01">{{ instance.progress}}</td>
            </tr>
            <tr>
                <th class="ind_th01">os_dce:diskConfig</th><td class="ind_td01">{{ instance.os_dce.diskConfig }}</td>
            </tr>
            <tr>
                <th class="ind_th01">os_srv_usg</th>
                <td class="ind_td01">
                    terminated_at:{{ instance.os_srv_usg.terminated_at }}<br/>
                    launched_at:{{ instance.os_srv_usg.launched_at }}
                </td>
            </tr>
            <tr>
                <th class="ind_th01">accessIPv4</th><td class="ind_td01">{{ instance.accessIPv4 }}</td>
            </tr>
            <tr>
                <th class="ind_th01">accessIPv6</th><td class="ind_td01">{{ instance.accessIPv6 }}</td>
            </tr>
            <tr>
                <th class="ind_th01">config_drive</th><td class="ind_td01">{{ instance.config_drive }}</td>
            </tr>
            <tr>
                <th class="ind_th01">description</th><td class="ind_td01">{{ instance.description }}</td>
            </tr>
            <tr>
                <th class="ind_th01">hostId</th><td class="ind_td01">{{ instance.hostId }}</td>
            </tr>
            <tr>
                <th class="ind_th01">host_status</th><td class="ind_td01">{{ instance.host_status }}</td>
            </tr>
            <tr>
                <th class="ind_th01">public_network</th><td class="ind_td01">{{ instance.public_network }}</td>
            </tr>
            <tr>
                <th class="ind_th01">security_groups</th><td class="ind_td01">{{ instance.security_groups }}</td>
            </tr>
            <tr>
                <th class="ind_th01">tags</th><td class="ind_td01">{{ instance.tags }}</td>
            </tr>
            <tr>
                <th class="ind_th01">tenant_id</th><td class="ind_td01">{{ instance.tenant_id }}</td>
            </tr>
            <tr>
                <th class="ind_th01">user_id</th><td class="ind_td01">{{ instance.user_id }}</td>
            </tr>
        </table>

        <!--<p class="post{{ forloop.counter }}">{{ post.text|linebreaksbr }}</p>-->
        <!--<p>{{ instanceList }}</p>-->
    </div>
{% endblock content %}