{% extends 'base.html' %}

{% block header %}
<div class="header_title_d01"></div>
{% endblock header %}

{% block sub_left_menu %}
{% include "admin/left_menu.html" %}
{% endblock sub_left_menu %}

{% block content %}
<div>
    <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
        <tr>
            <th class="ind_th01">이름</th>     <td class="ind_td01" id="name"></td>
        </tr>
        <tr>
            <th class="ind_th01">ID</th>       <td class="ind_td01" id="id"></td>
        </tr>
        <tr>
            <th class="ind_th01">네트워크 이름</th>   <td class="ind_td01" id="network_name"></td>
        </tr>
        <tr>
            <th class="ind_th01">네트워크 ID</th>     <td class="ind_td01" id="network_id"></td>
        </tr>
        <tr>
            <th class="ind_th01">MAC 주소</th>     <td class="ind_td01" id="mac_address"></td>
        </tr>
        <tr>
            <th class="ind_th01">Status</th><td class="ind_td01" id="status"></td>
        </tr>
        <tr>
            <th class="ind_th01">관리자 상태</th><td class="ind_td01" id="admin_state_up"></td>
        </tr>
        <tr>
            <th class="ind_th01">DNS 이름</th><td class="ind_td01" id="dns_name"></td>
        </tr>
    </table>

    <h4>DNS 할당</h4>
    <hr>
    <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
        <tr>
            <th class="ind_th01"></th><td class="ind_td01" id=""></td>
        </tr>
    </table>

    <h4>Fixed IP</h4>
    <hr>
    <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
        <tr>
            <th class="ind_th01"></th><td class="ind_td01" id="fixed_ips"></td>
        </tr>
    </table>

    <h4>장치 연결됨</h4>
    <hr>
    <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
        <tr>
            <th class="ind_th01">장치 소유자</th><td class="ind_td01" id="device_owner"></td>
            <th class="ind_th01">장치 ID</th><td class="ind_td01" id="device_id"></td>
        </tr>
    </table>

    <h4>바인딩</h4>
    <hr>
    <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
        <tr>
            <th class="ind_th01">VNIC 유형</th>
            <td class="ind_td01" id="binding_vnic_type"></td>
        </tr>
        <tr>
            <th class="ind_th01">호스트</th>
            <td class="ind_td01" id="binding_host_id"></td>
        </tr>
        <tr>
            <th class="ind_th01">프로필</th>
            <td class="ind_td01" id="binding_profile"></td>
        </tr>
        <tr>
            <th class="ind_th01">VIF 유형</th>
            <td class="ind_td01" id="binding_vif_type"></td>
        </tr>
        <tr>
            <th class="ind_th01">VIF 세부 사항</th>
            <td class="ind_td01" id="binding_vif_details"></td>
        </tr>

    </table>
</div>
{% load staticfiles %}
<script src='{% static "js/custom/admin/networks/ports/detail.js" %}'></script>
<script>
$(function(){
    getPostAjax("{{ post_id }}", "{{ csrf_token }}");
});
</script>
{% endblock content %}