{% load staticfiles %}
<div class="left_menu">
    <img class="left_menu_img03 toggle" src='{% static "provisioning/img/left_06.png" %}' alt="#">
    <div>
        <img class="left_menu_img01" src='{% static "provisioning/img/left_01.png" %}' alt="#">
        <div class="left_menu_d01">서브넷</div>
        <img class="left_menu_img02" src='{% static "provisioning/img/left_02.png" %}' alt="#">
        <div class="left_menu_d01">라우터</div>
        <img class="left_menu_img02" src='{% static "provisioning/img/left_03.png" %}' alt="#">
        <div class="left_menu_d01">가상머신</div>
        <img class="left_menu_img02" src='{% static "provisioning/img/left_04.png" %}' alt="#">
        <div class="left_menu_d01">Firewall</div>
        <img class="left_menu_img02" src='{% static "provisioning/img/left_05.png" %}' alt="#">
        <div class="left_menu_d01">Loadbalsnvrt</div>
    </div>
</div>
<script>
    $(".toggle").on("click", function(){

    });

</script>