{% extends 'base.html' %}

{% block header %}
<div class="header_title_d01">볼륨</div>
<a href="#"><div class="header_title_d04_click">볼륨</div></a>
<a href="#"><div class="header_title_d05">볼륨 타입</div></a>
<a href="#"><div class="header_title_d05">볼륨 스냅샷</div></a>
{% endblock header %}

{% block content %}
<div>
    <table border="1">
        <tr>
            <th>프로젝트</th>
            <th>호스트</th>
            <th>이름</th>
            <th>크기</th>
            <th>Status</th>
            <th>유형</th>
            <th>연결된 곳</th>
            <th>부팅가능</th>
            <th>암호화</th>
        </tr>
        {% for instance in instanceList%}
            <tr>
                <td>-</td>
                <td>-</td>
                <td><a href="/dashboard/admin/volumes/{{volume.id}}">{{ volume.display_name }}</a></td>
                <td>{{volume.size}}</td>
                <td>{{volume.status}}</td>
                <td>-</td>
                <td>{{ volume.attched_to }}</td>
                <td></td>
                <td></td>
                <td>-</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}