{% extends 'base.html' %}

{% block header %}
<div class="header_title_d01">볼륨</div>
<div>
    <a href="#"><div class="header_title_d04_click">볼륨</div></a>
    <a href="#"><div class="header_title_d05">볼륨 타입</div></a>
    <a href="#"><div class="header_title_d05">볼륨 스냅샷</div></a>
</div>
{% endblock header %}

{% block content %}
<div>
    <table class="ind_tab01" border="1">
        <tr>
            <th class="ind_th01">프로젝트</th>
            <th class="ind_th01">호스트</th>
            <th class="ind_th01">이름</th>
            <th class="ind_th01">크기</th>
            <th class="ind_th01">Status</th>
            <th class="ind_th01">유형</th>
            <th class="ind_th01">연결된 곳</th>
            <th class="ind_th01">부팅가능</th>
            <th class="ind_th01">암호화</th>
        </tr>
        {% for volume in volumeList%}
            <tr>
                <td class="ind_td01"></td>
                <td class="ind_td01">{{ volume.os_vol_host_attr.host }}</td>
                <td class="ind_td01"><a href="/dashboard/admin/volumes/{{volume.id}}">{{ volume.name }}</a></td>
                <td class="ind_td01">{{ volume.size }}</td>
                <td class="ind_td01">{{ volume.status }}</td>
                <td class="ind_td01">{{ volume.type }}</td>
                <td class="ind_td01">{{ volume.attached_to }}</td>
                <td class="ind_td01">{{ volume.bootable }}</td>
                <td class="ind_td01">{{ volume.encrypted }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}