{% extends 'base.html' %}

{% block header %}
<div class="header_title_d01">{{ volume.name }}</div>
{% endblock header %}

{% block content %}
    <div>
        <table border="1">
            <tr>
                <th>이름</th><td>{{ volume.name }}</td>
            </tr>
            <tr>
                <th>ID</th><td>{{ volume.id}}</td>
            </tr>
            <tr>
                <th>Status</th><td>{{ volume.status }}</td>
            </tr>
            <tr>
                <th>크기</th><td>{{ volume.size }}</td>
            </tr>
            <tr>
                <th>유형</th><td>{{ volume.type }}</td>
            </tr>
            <tr>
                <th>부팅가능</th><td>{{ volume.bootable }}</td>
            </tr>
            <tr>
                <th>암호화</th><td>{{ volume.encrypted }}</td>
            </tr>
            <tr>
                <th>생성됨</th><td>{{ volume.created_at }}</td>
            </tr>
            <tr>
                <th>연결된 곳</th><td>{{ volume.attachments[0].device }}</td>
            </tr>
        </table>

        <!--<p class="post{{ forloop.counter }}">{{ post.text|linebreaksbr }}</p>-->
        <!--<p>{{ volumeList }}</p>-->
    </div>
{% endblock content %}