{% extends '../base.html' %}

{% block header %}
<div class="header_title_d01">{{ volume.name }}</div>
{% endblock header %}

{% block content %}
    <div>
        <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
            <tr>
                <th class="ind_th01">이름</th>     <td class="ind_td01">{{ volume.name }}</td>
            </tr>
            <tr>
                <th class="ind_th01">ID</th>       <td class="ind_td01">{{ volume.id}}</td>
            </tr>
            <tr>
                <th class="ind_th01">Status</th>   <td class="ind_td01">{{ volume.status }}</td>
            </tr>
            <tr>
                <th class="ind_th01">크기</th>     <td class="ind_td01">{{ volume.size }}</td>
            </tr>
            <tr>
                <th class="ind_th01">유형</th>     <td class="ind_td01">{{ volume.type }}</td>
            </tr>
            <tr>
                <th class="ind_th01">부팅가능</th> <td class="ind_td01">{{ volume.bootable }}</td>
            </tr>
            <tr>
                <th class="ind_th01">암호화</th>   <td class="ind_td01">{{ volume.encrypted }}</td>
            </tr>
            <tr>
                <th class="ind_th01">생성됨</th>   <td class="ind_td01">{{ volume.created_at }}</td>
            </tr>
            <tr>
                <th class="ind_th01">연결된 곳</th><td class="ind_td01">{{ volume.attachments }}</td>
            </tr>
        </table>

        <!--<p class="post{{ forloop.counter }}">{{ post.text|linebreaksbr }}</p>-->
        <!--<p>{{ volumeList }}</p>-->
    </div>
{% endblock content %}