{% extends 'base.html' %}

{% block header %}
<div class="header_title_d01">Flavor</div>
{% endblock header %}

{% block content %}
    <div>
        <table border="1">
            <tr>
                <th>Flavor 이름</th>
                <th>VCPUs</th>
                <th>RAM</th>
                <th>Root 디스크</th>
                <th>Ephemeral 디스크</th>
                <th>Swap 디스크</th>
                <th>RX/TX 요인</th>
                <th>ID</th>
                <th>공용</th>
                <th>메타데이터</th>
            </tr>
            {% for flavor in flavorList%}
                <tr>
                    <td>{{ flavor.name }}</td>
                    <td>{{ flavor.vcpus }}</td>
                    <td>{{ flavor.memory_mb }}MB</td>
                    <td>{{ flavor.disk }}GB</td>
                    <td>{{ flavor.ephemeral }}GB</td>
                    <td>{{ flavor.swap }}MB</td>
                    <td>{{ flavor.rxtx_factor }}</td>
                    <td>{{ flavor.id }}</td>
                    <td>{{ flavor.is_public }}</td>
                    <td>???</td>
                </tr>
            {% endfor %}
        </table>
        <!--<p class="post{{ forloop.counter }}">{{ post.text|linebreaksbr }}</p>-->
        <!--<p>{{ flavorList }}</p>-->
    </div>
{% endblock content %}