{% extends 'base.html' %}

{% block header %}
<div class="header_title_d01">이미지</div>
{% endblock header %}

{% block content %}
    <div>
        <table class="ind_tab01" border="1">
            <tr>
                <th class="ind_th01">소유자</th>
                <th class="ind_th01">이름</th>
                <th class="ind_th01">유형</th>
                <th class="ind_th01">상태</th>
                <th class="ind_th01">가시성</th>
                <th class="ind_th01">보호됨</th>
                <th class="ind_th01">디스크포멧</th>
                <th class="ind_th01">크기</th>
            </tr>
            {% for image in imageList%}
                <tr>
                    <td class="ind_td01">{{ image.owner }}</td>
                    <td class="ind_td01"><a href="/dashboard/admin/images/{{image.id}}">{{ image.name }}</a></td>
                    <td class="ind_td01">이미지</td>
                    <td class="ind_td01">{{ image.status }}</td>
                    <td class="ind_td01">{{ image.visibility }}</td>
                    <td class="ind_td01">{{ image.protected }}</td>
                    <td class="ind_td01">{{ image.disk_format }}</td>
                    <td class="ind_td01">{{ image.size }}</td>
                </tr>
            {% endfor %}
        </table>
        <!--<p class="post{{ forloop.counter }}">{{ post.text|linebreaksbr }}</p>-->
        <!--<p>{{ imageList }}</p>-->
    </div>
{% endblock content %}