{% extends 'base.html' %}

{% block header %}
<div class="header_title_d01">{{ image.name }}</div>
{% endblock header %}

{% block content %}
    <div>
        <table border="1">
            <tr><th>이름</th>       <td>{{ image.name }}</td></tr>
            <tr><th>유형</th>       <td>이미지</td></tr>
            <tr><th>상태</th>       <td>{{ image.status }}</td></tr>
            <tr><th>크기</th>       <td>{{ image.size }}</td></tr>
            <tr><th>최소 디스크</th><td>{{ image.min_disk }}</td></tr>
            <tr><th>최소 RAM</th>   <td>{{ image.min_ram }}</td></tr>
            <tr><th>디스크 포멧</th> <td>{{ image.disk_format }}</td></tr>
            <tr><th>컨테이너 포멧</th> <td>{{ image.container_format }}</td></tr>
            <tr><th>생성 시점</th> <td>{{ image.created_at }}</td></tr>
            <tr><th>갱신 시점</th> <td>{{ image.updated_at }}</td></tr>

            <tr><th>소유자</th>     <td>{{ image.owner }}</td></tr>
            <tr><th>가시성</th>     <td>{{ image.visibility }}</td></tr>
            <tr><th>보호됨</th>     <td>{{ image.protected }}</td></tr>
            <tr><th>Checksum</th>     <td>{{ image.checksum }}</td></tr>

            <!--<tr><th>file</th>       <td>{{ image. }}</td></tr>-->
            <tr><th>커널 ID</th>    <td>{{ image.kernel_id }}</td></tr>
            <tr><th>램디스크 ID</th><td>{{ image.ramdisk_id }}</td></tr>
            <!--<tr><th>schema</th>     <td>{{ image. }}</td></tr>-->
            <tr><th>태그</th>       <td>{{ image.tags }}</td></tr>
            <tr><th>가상 크기</th>  <td>{{ image.virtual_size }}</td></tr>
        </table>
        <!--<p class="post{{ forloop.counter }}">{{ post.text|linebreaksbr }}</p>-->
        <!--<p>{{ imageList }}</p>-->
    </div>
{% endblock content %}