{% extends 'base.html' %}

{% block header %}
<div class="header_title_d01">인스턴스</div>
{% endblock header %}

{% block sub_left_menu %}
<div class="sub_left_menu">
    <div class="sub_left_menu_d01">
        <a href="#">개요</a>
    </div>
    <div class="sub_left_menu_d01">
        <a href="#">하이퍼바이저</a>
    </div>
    <div class="sub_left_menu_d01">
        <a href="#">호스트 집합</a>
    </div>
    <div class="sub_left_menu_d01_click">
        <a href="/dasboard/admin/instances">인스턴스</a>
    </div>
    <div class="sub_left_menu_d01">
        <a href="/dasboard/admin/volumes">볼륨</a>
    </div>
    <div class="sub_left_menu_d01">
        <a href="/dasboard/admin/flavors">flavor</a>
    </div>
    <div class="sub_left_menu_d01">
        <a href="/dasboard/admin/images">이미지</a>
    </div>
    <div class="sub_left_menu_d01">
        <a href="/dasboard/admin/networks">네트워크</a>
    </div>
    <div class="sub_left_menu_d01">
        <a href="#">라우터</a>
    </div>
    <div class="sub_left_menu_d01">
        <a href="#">기본</a>
    </div>
    <div class="sub_left_menu_d01">
        <a href="#">시스템 정보</a>
    </div>
</div>
{% endblock sub_left_menu %}

{% block content %}
<div>
    <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
        <tr>
            <th class="ind_th01">프로젝트</th>
            <th class="ind_th01">호스트</th>
            <th class="ind_th01">이름</th>
            <th class="ind_th01">이미지 이름</th>
            <th class="ind_th01">IP 주소</th>
            <th class="ind_th01">크기</th>
            <th class="ind_th01">Status</th>
            <th class="ind_th01">task</th>
            <th class="ind_th01">전원 상태</th>
            <th class="ind_th01">생성된 이후 시간</th>
        </tr>
        {% for instance in instanceList%}
            <tr>
                <td class="ind_td01">-</td>
                <td class="ind_td01">-</td>
                <td class="ind_td01"><a href="/dashboard/admin/instances/{{instance.id}}">{{ instance.name }}</a></td>
                <td class="ind_td01">-</td>
                <td class="ind_td01">{{ instance.networks }}</td>
                <td class="ind_td01">-</td>
                <!--<td class="ind_td01">{{ instance.id }}</td>-->
                <td class="ind_td01">{{ instance.status }}</td>
                <td class="ind_td01">{{ instance.task_state }}</td>
                <td class="ind_td01">{{ instance.power_state }}</td>
                <td class="ind_td01">-</td>
            </tr>
        {% endfor %}
    </table>
    <!--<p class="post{{ forloop.counter }}">{{ post.text|linebreaksbr }}</p>-->
    <!--<p>{{ instanceList }}</p>-->
</div>
{% endblock content %}