{% extends 'base.html' %}

{% block header %}
<div class="header_title_d01">{{ image.name }}</div>
{% endblock header %}

{% block sub_left_menu %}
{% include "admin/left_menu.html" %}
{% endblock sub_left_menu %}

{% block content %}
    <div>
        <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
            <tr><th class="ind_th01">이름</th>       <td class="ind_td01">{{ image.name }}</td></tr>
            <tr><th class="ind_th01">유형</th>       <td class="ind_td01">이미지</td></tr>
            <tr><th class="ind_th01">상태</th>       <td class="ind_td01">{{ image.status }}</td></tr>
            <tr><th class="ind_th01">크기</th>       <td class="ind_td01">{{ image.size }}</td></tr>
            <tr><th class="ind_th01">최소 디스크</th><td class="ind_td01">{{ image.min_disk }}</td></tr>
            <tr><th class="ind_th01">최소 RAM</th>   <td class="ind_td01">{{ image.min_ram }}</td></tr>
            <tr><th class="ind_th01">디스크 포멧</th> <td class="ind_td01">{{ image.disk_format }}</td></tr>
            <tr><th class="ind_th01">컨테이너 포멧</th> <td class="ind_td01">{{ image.container_format }}</td></tr>
            <tr><th class="ind_th01">생성 시점</th> <td class="ind_td01">{{ image.created_at }}</td></tr>
            <tr><th class="ind_th01">갱신 시점</th> <td class="ind_td01">{{ image.updated_at }}</td></tr>

            <tr><th class="ind_th01">소유자</th>     <td class="ind_td01">{{ image.owner }}</td></tr>
            <tr><th class="ind_th01">가시성</th>     <td class="ind_td01">{{ image.visibility }}</td></tr>
            <tr><th class="ind_th01">보호됨</th>     <td class="ind_td01">{{ image.protected }}</td></tr>
            <tr><th class="ind_th01">Checksum</th>     <td class="ind_td01">{{ image.checksum }}</td></tr>

            <!--<tr><th class="ind_th01">file</th>       <td class="ind_td01">{{ image. }}</td></tr>-->
            <tr><th class="ind_th01">커널 ID</th>    <td class="ind_td01">{{ image.kernel_id }}</td></tr>
            <tr><th class="ind_th01">램디스크 ID</th><td class="ind_td01">{{ image.ramdisk_id }}</td></tr>
            <!--<tr><th class="ind_th01">schema</th>     <td class="ind_td01">{{ image. }}</td></tr>-->
            <tr><th class="ind_th01">태그</th>       <td class="ind_td01">{{ image.tags }}</td></tr>
            <tr><th class="ind_th01">가상 크기</th>  <td class="ind_td01">{{ image.virtual_size }}</td></tr>
        </table>
        <!--<p class="post{{ forloop.counter }}">{{ post.text|linebreaksbr }}</p>-->
        <!--<p>{{ imageList }}</p>-->
    </div>
{% endblock content %}