{% extends 'base.html' %}

{% block header %}
{% block header %}
{% endblock %}
{% endblock header %}

{% block sub_left_menu %}
<div class="sub_left_menu">
    <div class="sub_left_menu_d01">
        <a href="#">개요</a>
    </div>
    <div class="sub_left_menu_d01">
        <a href="#">하이퍼바이저</a>
    </div>
    <div class="sub_left_menu_d01">
        <a href="#">호스트 집합</a>
    </div>
    <div class="sub_left_menu_d01_click">
        <a href="/dashboard/admin/instances">인스턴스</a>
    </div>
    <div class="sub_left_menu_d01">
        <a href="/dashboard/admin/volumes">볼륨</a>
    </div>
    <div class="sub_left_menu_d01">
        <a href="/dashboard/admin/flavors">flavor</a>
    </div>
    <div class="sub_left_menu_d01">
        <a href="/dashboard/admin/images">이미지</a>
    </div>
    <div class="sub_left_menu_d01">
        <a href="/dashboard/admin/networks">네트워크</a>
    </div>
    <div class="sub_left_menu_d01">
        <a href="#">라우터</a>
    </div>
    <div class="sub_left_menu_d01">
        <a href="#">기본</a>
    </div>
    <div class="sub_left_menu_d01">
        <a href="#">시스템 정보</a>
    </div>
</div>
{% endblock sub_left_menu %}

{% block content %}
{% block content %}
{% endblock content %}
{% endblock %}