{% extends 'base.html' %}

{% block header %}
<div class="header_title_d01">네트워크</div>
{% endblock header %}

{% block sub_left_menu %}
{% include "admin/left_menu.html" %}
{% endblock sub_left_menu %}

{% block content %}
<div>
    <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
        <tr>
            <th class="ind_th01">프로젝트</th>
            <th class="ind_th01">네트워크 이름</th>
            <th class="ind_th01">관련 서브넷</th>
            <th class="ind_th01">DHCP 에이전트</th>
            <th class="ind_th01">공유</th>
            <th class="ind_th01">외부</th>
            <th class="ind_th01">Status</th>
            <th class="ind_th01">관리자 상태</th>
        </tr>
        {% for network in networkList%}
            <tr>
                <td class="ind_td01">{{ network.project_id }}</td>
                <td class="ind_td01"><a href="/dashboard/admin/networks/{{network.id}}">{{ network.name }}</a></td>
                <td class="ind_td01">{{ network.subnets }}</td>
                <td class="ind_td01">-</td>
                <td class="ind_td01">{{ network.shared }}</td>
                <td class="ind_td01">{{ network.router.external }}</td>
                <td class="ind_td01">{{ network.status }}</td>
                <td class="ind_td01">{{ network.admin_state_up }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}