{% extends 'base.html' %}

{% block header %}
<div class="header_title_d01">네트워크</div>
{% endblock header %}

{% block left_menu %}
{% include "admin/left_menu.html" %}
{% endblock left_menu %}

{% block content %}
<div id="network_list">
    <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
    </table>
</div>
<script>

function showNetworkList(networks){
    var dataTable = new DataTable({
        "selector" : "#network_list",
        "columns" : {
            "project_id" : "프로젝트",
            "name" : "네트워크 이름:link",
            "subnets" : "관련 서브넷",
            "dhcpAgents" : "DHCP 에이전트",
            "shared" : "공유",
            "router:external" : "외부",
            "status" : "Status",
            "admin_state_up" : "관리자 상태"
        },
        "data" : networks
    });
    dataTable.showDataTable();
}
function getNetworksAjax(csrf_token){
    $.ajax({
        type:"POST",
        url : '',
        data : { csrfmiddlewaretoken: csrf_token },
        success:function(data){
            networks = data.networkList;
            showNetworkList(networks);
        }
    });
}
getNetworksAjax("{{ csrf_token }}");
</script>
{% endblock content %}