{% extends 'base.html' %}

{% block header %}
<div class="header_title_d01">{{ network.name }}</div>
<div>
    <a href="#"><div class="header_title_d04_click">개요</div></a>
    <a href="#"><div class="header_title_d05">서브넷</div></a>
    <a href="#"><div class="header_title_d05">포트</div></a>
    <a href="#"><div class="header_title_d05">DHCP 에이전트</div></a>
</div>
{% endblock header %}

{% block sub_left_menu %}
{% include "admin/left_menu.html" %}
{% endblock sub_left_menu %}

{% block content %}
<div id="summary">
     <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
        <tr>
             <th class="ind_th01">이름</th>          <td class="ind_td01">{{ network.name }}</td>
        </tr>
        <tr>
             <th class="ind_th01">ID</th>            <td class="ind_td01">{{ network.id}}</td>
        </tr>
        <tr>
             <th class="ind_th01">프로젝트 ID</th>   <td class="ind_td01">{{ network.project_id }}</td>
        </tr>
        <tr>
             <th class="ind_th01">Status</th>        <td class="ind_td01">{{ network.status }}</td>
        </tr>
        <tr>
             <th class="ind_th01">관리자 상태</th>   <td class="ind_td01">{{ network.admin_state_up }}</td>
        </tr>
        <tr>
             <th class="ind_th01">공유</th>          <td class="ind_td01">{{ network.shared }}</td>
        </tr>
        <tr>
             <th class="ind_th01">외부 네트워크</th> <td class="ind_td01">{{ network.router.external }}</td>
        </tr>
        <tr>
             <th class="ind_th01">MTU</th>           <td class="ind_td01">{{ network.mtu }}</td>
        </tr>
        <tr>
             <th class="ind_th01">공급자 네트워크</th>
             <td class="ind_td01">
                네트워크 타입 {{ network.provider.network_type }}<br/>
                물리적인 네트워크 {{ network.provider.physical_network }}<br/>
                구분 ID: {{ network.provider.segmentation_id }}
            </td>
        </tr>
    </table>
</div>
{% include "admin/networks/subnets/index.html" %}
<!--{% include "admin/networks/ports/index.html" %}-->

<div id="DHCPagent">

</div>


<script>
var network;
function DataTable (settings){
    this.selector = settings["selector"];
    this.columns = settings["columns"];
    if( settings["vertical"] ){
        this.vertical = settings["vertical"];
    }else{
        this.vertical = false;
    }
    if( settings["data"] ){
        this.data = settings["data"];
    }else{
        this.data = null;
    }
    this.showDataTable = function() {
        var columnPattern = "<th class='ind_th01 %K'>%C</th>\n"
        var dataPattern = "<td class='ind_td01 %K'>%D</td>\n";
        var resultHtml = ""
        if( this.vertical ){
            for( key in this.columns ){
                resultHtml += "<tr>\n";
                var columnHtml = "";
                var dataHtml = "";
                if ( this.data[key] instanceof Object ) {
                    // 객체일때 여러줄로 출력
                    columnHtml = columnPattern.replace("%C", this.column[key].name).replace("%K", key);
                    var data = "";
                    for ( dataNameKey in this.column[key].dataName ){
                        data += this.column[key].dataName.dataNameKey + " " + tihs.data[key].dataNameKey + "<br/>";
                    }
                    dataHtml = dataPattern.replace("%D", data).replace("%K", key);
                } else if ( this.data[key] instanceof Array ) {
                    // 배열일때 ul, li태그로 묶어 출력
                    columnHtml = columnPattern.replace("%C", this.columns[key]).replace("%K", key);
                    var data = "<ul>";
                    for ( i in this.data[key]){
                        data += "<li>" + this.data[key][i] + "</li>";
                    }
                    data += "</ul>";
                    dataHtml = dataPattern.replace("%D", data).replace("%K", key);
                } else {
                    columnHtml = columnPattern.replace("%C", this.columns[key]).replace("%K", key);
                    dataHtml = dataPattern.replace("%D", this.data[key]).replace("%K", key);
                }
                var data = this.data[key];
                resultHtml += columnHtml;
                resultHtml += dataHtml;
                resultHtml += "</tr>\n";
            }
        }else{
            var columnHtml = "<tr>";
            for( key in this.columns ){
                columnHtml += "<th class='ind_th01 " + key + "'>" + this.columns[key] + "</th>\n";
            }
            columnHtml += "</tr>";

            var dataHtml = "";
            for( i in this.data ){
                dataHtml += "<tr>\n";
                for( key in this.columns ){
                    dataHtml += "<td class='ind_td01 " + key + "'>" + this.data[i][key] + "</td>\n";
                }
                dataHtml += "</tr>\n";
            }
            resultHtml = columnHtml + dataHtml;
        }
        $(this.selector + " table").html(resultHtml);
    };
    return this;
}
    $(function(){
        var dataTable;
        $.ajax({
            type:"POST",
            url : '',
            data : { id:"{{ network_id }}", csrfmiddlewaretoken: "{{ csrf_token }}" },
            success:function(data){
                dataTable = new DataTable({
                    "selector" : "#summary",
                    "columns" : {
                        "name" : "이름",
                        "id" : "ID",
                        "project_id " : "프로젝트 ID",
                        "status" : "Status",
                        "admin_state_up" : "관리자 상태",
                        "shared" : "공유",
                        "router" : "외부 네트워크",
                        "mtu" : "MTU",
                        "provider" : {
                            "name" : "공급자 네트워크",
                            "dataName" : {
                                "network_type" : "네트워크 타입",
                                "physical_network" : "물리적인 네트워크",
                                "segmentation_id" : "구분 ID"
                            }
                        }
                    },
                    "vertical" : true,
                    "data" : data.data
                });
                dataTable.showDataTable();
            }
        });

    });
</script>
{% endblock content %}