{% extends 'base.html' %}

{% block header %}
<div class="header_title_d01">{# network.name #}</div>
<div>
    <a><div class="header_title_d05 tab summary">개요</div></a>
    <a><div class="header_title_d05 tab subnet">서브넷</div></a>
    <a><div class="header_title_d05 tab port">포트</div></a>
    <a><div class="header_title_d05 tab DHCPagent">DHCP 에이전트</div></a>
</div>
{% endblock header %}

{% block sub_left_menu %}
{% include "admin/left_menu.html" %}
{% endblock sub_left_menu %}

{% block content %}
<div id="summary">
    <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
        {% comment %}
        <tr>
             <th class="ind_th01">이름</th>          <td class="ind_td01">{{ network.name }}</td>
        </tr>
        <tr>
             <th class="ind_th01">ID</th>            <td class="ind_td01">{{ network.id}}</td>
        </tr>
        <tr>
             <th class="ind_th01">프로젝트 ID</th>   <td class="ind_td01">{{ network.project_id }}</td>
        </tr>
        <tr>
             <th class="ind_th01">Status</th>        <td class="ind_td01">{{ network.status }}</td>
        </tr>
        <tr>
             <th class="ind_th01">관리자 상태</th>   <td class="ind_td01">{{ network.admin_state_up }}</td>
        </tr>
        <tr>
             <th class="ind_th01">공유</th>          <td class="ind_td01">{{ network.shared }}</td>
        </tr>
        <tr>
             <th class="ind_th01">외부 네트워크</th> <td class="ind_td01">{{ network.router.external }}</td>
        </tr>
        <tr>
             <th class="ind_th01">MTU</th>           <td class="ind_td01">{{ network.mtu }}</td>
        </tr>
        <tr>
             <th class="ind_th01">공급자 네트워크</th>
             <td class="ind_td01">
                네트워크 타입 {# network.provider.network_type #}<br/>
                물리적인 네트워크 {# network.provider.physical_network #}<br/>
                구분 ID: {# network.provider.segmentation_id #}
            </td>
        </tr>
        {% endcomment %}
    </table>
</div>

<div id="subnet">
     <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
     </table>
</div>
{# include "admin/networks/subnets/index.html" #}

<div id="port">
     <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
     </table>
</div>
{# include "admin/networks/ports/index.html" #}

<div id="DHCPagent">
     <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
     </table>
</div>
{% load staticfiles %}
<script src='{% static "js/custom/admin/networks/detail.js" %}'></script>
<script>
$(function(){
    $(".summary").addClass("header_title_d04_click");
    $(".summary").removeClass("header_title_d05");
    getNetworkAjax("{{ network_id }}", "{{ csrf_token }}");
    $("#subnet").hide();
    $("#port").hide();
    // $("#DHCPagent").hide();
    var tabList = ["summary", "subnet", "port", "DHCPagent"];
    var tab = tabList[0];
    $("." + tab).on("click", function(){
        var subList = tabList;
        subList.slice(0, 1);
        for (j in subList) {
            $("#" + subList[j]).hide();
            $("." + subList[j]).removeClass("header_title_d04_click");
            $("." + subList[j]).addClass("header_title_d05");
        }
        $("." + tab).addClass("header_title_d04_click");
        $("." + tab).removeClass("header_title_d05");
        $("#" + tab).show();
    });
    var tab = tabList[1];
    $("." + tab).on("click", function(){
        var subList = tabList;
        subList.slice(1, 1);
        for (j in subList) {
            $("#" + subList[j]).hide();
            $("." + subList[j]).removeClass("header_title_d04_click");
            $("." + subList[j]).addClass("header_title_d05");
        }
        $("." + tab).addClass("header_title_d04_click");
        $("." + tab).removeClass("header_title_d05");
        $("#" + tab).show();
    });
    var tab = tabList[2];
    $("." + tab).on("click", function(){
        var subList = tabList;
        subList.slice(2, 1);
        for (j in subList) {
            $("#" + subList[j]).hide();
            $("." + subList[j]).removeClass("header_title_d04_click");
            $("." + subList[j]).addClass("header_title_d05");
        }
        $("." + tab).addClass("header_title_d04_click");
        $("." + tab).removeClass("header_title_d05");
        $("#" + tab).show();
    });
    var tab = tabList[3];
    $("." + tab).on("click", function(){
        var subList = tabList;
        subList.slice(3, 1);
        for (j in subList) {
            $("#" + subList[j]).hide();
            $("." + subList[j]).removeClass("header_title_d04_click");
            $("." + subList[j]).addClass("header_title_d05");
        }
        $("." + tab).addClass("header_title_d04_click");
        $("." + tab).removeClass("header_title_d05");
        $("#" + tab).show();
    });
});

</script>
{% endblock content %}