{% extends 'base.html' %}

{% block header %}
<div class="header_title_d01">{# network.name #}</div>
<div>
    <a href="#"><div class="header_title_d04_click">개요</div></a>
    <a href="#"><div class="header_title_d05">서브넷</div></a>
    <a href="#"><div class="header_title_d05">포트</div></a>
    <a href="#"><div class="header_title_d05">DHCP 에이전트</div></a>
</div>
{% endblock header %}

{% block sub_left_menu %}
{% include "admin/left_menu.html" %}
{% endblock sub_left_menu %}

{% block content %}
<div id="summary">
    <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
        {% comment %}
        <tr>
             <th class="ind_th01">이름</th>          <td class="ind_td01">{{ network.name }}</td>
        </tr>
        <tr>
             <th class="ind_th01">ID</th>            <td class="ind_td01">{{ network.id}}</td>
        </tr>
        <tr>
             <th class="ind_th01">프로젝트 ID</th>   <td class="ind_td01">{{ network.project_id }}</td>
        </tr>
        <tr>
             <th class="ind_th01">Status</th>        <td class="ind_td01">{{ network.status }}</td>
        </tr>
        <tr>
             <th class="ind_th01">관리자 상태</th>   <td class="ind_td01">{{ network.admin_state_up }}</td>
        </tr>
        <tr>
             <th class="ind_th01">공유</th>          <td class="ind_td01">{{ network.shared }}</td>
        </tr>
        <tr>
             <th class="ind_th01">외부 네트워크</th> <td class="ind_td01">{{ network.router.external }}</td>
        </tr>
        <tr>
             <th class="ind_th01">MTU</th>           <td class="ind_td01">{{ network.mtu }}</td>
        </tr>
        <tr>
             <th class="ind_th01">공급자 네트워크</th>
             <td class="ind_td01">
                네트워크 타입 {# network.provider.network_type #}<br/>
                물리적인 네트워크 {# network.provider.physical_network #}<br/>
                구분 ID: {# network.provider.segmentation_id #}
            </td>
        </tr>
        {% endcomment %}
    </table>
</div>

<div id="subnet">
     <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
     </table>
</div>
{# include "admin/networks/subnets/index.html" #}

<div id="port">
     <table class="ind_tab01" cellpadding="0" border="0" cellspacing="0">
     </table>
</div>
{# include "admin/networks/ports/index.html" #}

<div id="DHCPagent">

</div>
<script>
var network;

function getSummary(){
    var dataTable = new DataTable({
        "selector" : "#summary",
        "columns" : {
            "name" : "이름",
            "id" : "ID",
            "project_id" : "프로젝트 ID",
            "status" : "Status",
            "admin_state_up" : "관리자 상태",
            "shared" : "공유",
            "router" : "외부 네트워크",
            "mtu" : "MTU",
            "provider" : {
                "name" : "공급자 네트워크",
                "dataName" : {
                    "network_type" : "네트워크 타입",
                    "physical_network" : "물리적인 네트워크",
                    "segmentation_id" : "구분 ID"
                }
            }
        },
        "vertical" : true,
        "data" : network
    });
    dataTable.showDataTable();
}

function getSubnet(){
    var dataTable = new DataTable({
        "selector" : "#subnet",
        "columns" : {
            "name" : "이름:link",
            "cidr" : "CIDR",
            "ip_version" : "IP 버전",
            "gateway_ip" : "게이트웨이 IP",
            "revision_number" : "사용된 IP",
            "allocation_pools" : "남는 IP"
        },
        "data" : network.subnets
    });
    dataTable.showDataTable();
    dataTable.setLink("networks/subnets");
}

function getPort(){
    var dataTable = new DataTable({
        "selector" : "#port",
        "columns" : {
            "id" : "이름:link",
            "fixed_ips" : "Fixed IP",
            "network" : "장치 연결됨",
            "status" : "Status",
            "admin_state_up" : "관리자 상태"
        },
        "data" : network.ports
    });
    dataTable.showDataTable();
    dataTable.setLink("networks/ports");
}

$(function(){
    $.ajax({
        type:"POST",
        url : '',
        data : { id:"{{ network_id }}", csrfmiddlewaretoken: "{{ csrf_token }}" },
        success:function(data){
            network = data.data;
            $(".header_title_d01").html(network.name);
            getSummary();
            getSubnet();
            getPort();
        }
    });
});
</script>
{% endblock content %}